<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Auth</title>
</head>
<body style="background: bisque">
<div>
    <div style="width: 50%;  margin: 0 auto; font-size: 18px; line-height: 1.5; text-align: justify" >
        <p style="text-align: right">
        <a th:href="@{?lang=ru}">
            <img th:src="@{/images/ru.png}"/>
        </a>
        <a th:href="@{?lang=en}">
            <img th:src="@{/images/en.png}"/>
        </a>
        <a th:href="@{?lang=ja}">
            <img th:src="@{/images/ja.png}"/>
        </a>
        </p>
        <h1 style="text-align: center">[[#{auth.login.h1}]]</h1>
        <p>[[#{auth.login.welcome.message}]]</p>
     </div>
</div>
<div>
    <div style="width: 50%;  margin: 0 auto; font-size: 18px" >
        <form name="f" method="post" action="/process_login" >
            <label for="username" >[[#{auth.login.username.label}]]</label>
            <br>
            <input type="text" name="username" id="username" th:value="'user'"/>
            <br>
            <label for="password" >[[#{auth.login.password.label}]]</label>
            <br>
            <input type="password" name="password" id="password" th:value="'user'"/>
            <br>
            <input type="submit" th:value="#{auth.login.submit.value}"/>
            <div th:if="${param.error}" style="color: red">
                [[#{auth.login.login.error}]]</div>
        </form>
        <br>
        <a th:href="@{/auth/signup}" th:text="#{auth.login.signup}" style="text-decoration: none"></a>
    </div>
</div>
</body>
</html>