<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body style="background: bisque">
<h1 style="text-align: center">[[#{auth.signup.h1}]]</h1>
<div>
    <div style="width: 50%;  margin: 0 auto; font-size: 18px; line-height: 1.5; text-align: justify" >
        <p>[[#{auth.signup.message.1}]]<br>
            [[#{auth.signup.message.2}]]</p>
     </div>
</div>
<div>
    <div style="width: 50%;  margin: 0 auto; font-size: 18px" >
        <form  th:method="POST" th:action="@{/auth/saveUser}" th:object="${person}" >
            <label for="username" >[[#{auth.signup.username.label}]]</label>
            <br>
            <input type="text" id="username" th:field="*{username}"/>
            <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</div>
            <br>
            <label for="password" >[[#{auth.signup.password.label}]]</label>
            <br>
            <input type="password" id="password" th:field="*{password}"/>
            <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
            <br>
            <input type="submit" th:value="#{auth.signup.submit.value}"/>
        </form>
        <br>
        <a th:href="@{/auth/login}" th:text="#{auth.signup.return.home}" style="text-decoration: none"></a>
    </div>
</div>
</body>
</html>