<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Write Practice</title>
</head>
<body style="background: bisque">
<div th:replace="allheader::top_header"></div>
<div th:replace="allheader::writepractice_subheader"></div>
<h1 style="text-align: center">Письменная практика</h1>
<div>
    <div style="width: 50%;  margin: 0 auto; font-size: 18px; line-height: 1.5">
        <p> В каждом задании четыре поля: перевод, транслитерация, иероглифы, кана.
        Выберите, какое из полей оставить открытым, - остальные будут скрыты. <br>
        Попробуйте самостоятельно от руки записать ответы на бумаге.<br>
        Ежедневная практика прописи от руки очень важна для совершенствования. Проверка на вашей совести:)</p>


        <form th:method="GET" th:action="@{/write-test/show}" th:object="${writePracticeRequest}">
            <label for="quantity">Введите количество заданий (не более 20). </label>
            <input style="width: 100px" type="text" th:field = "*{quantity}" id = "quantity"/>
            <input type="submit" value="Выбор">
            <div style="color:red" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></div>
            <ul style="padding-left: 0px">
                <li style="display: inline" th:each="type : ${types}">
                    <input type="radio"  checked="checked" id = "${type}" name="type"
                           th:field="*{requestType}" th:value="${type}"/>
                    <label for="${type}" th:text="${type.getText()}"></label>
                </li>
            </ul>
        </form>


    </div>
</div>
<div th:replace="allfooter::footer"></div>
</body>
</html>