<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Write practice</title>
    <style>
        .wordhidden{
            color: black; background: black;
        }
        .wordhidden:hover {background: bisque;}
        .word {

        }
    </style>
</head>
<body style="background: bisque">
<div th:replace="allheader::top_header"></div>
<div th:replace="allheader::writepractice_subheader"></div>
<h1 style="text-align: center">[[#{writepractice.multishow.h1}]]</h1>
<div>
    <div style="width: 50%;  margin: 0 auto">
        <p>[[#{writepractice.multishow.comment.1}]]</p>
        <p th:text="#{writepractice.multishow.number} + ' ' + ${writePracticeList.size()}"
            style="font-size: 18px"></p>

        <table th:each="note : ${writePracticeList}" id = "practiceTable">
            <tbody >
            <tr th:class="'word'+
            ${writePracticeRequest.getRequestType() != T(com.phantom.japanese_dictionary_mvc.requests.RequestType).KANJI ?
            'hidden' : ''}" id = "Kanji">
                <td th:text="${note.getKanji()}" style="font-size: 25px"></td>
            </tr>
            <tr th:class="'word'+
                    ${writePracticeRequest.getRequestType() != T(com.phantom.japanese_dictionary_mvc.requests.RequestType).KANA ?
                     'hidden' : ''}" id = "Kana">
                <td th:text="${note.getHiragana()}" style="font-size: 20px"></td>
            </tr>
            <tr th:class="'word'+
                    ${writePracticeRequest.getRequestType() != T(com.phantom.japanese_dictionary_mvc.requests.RequestType).TRANSLATION ?
                     'hidden' : ''}" id = "Translation">
                <td th:text="${note.getTranslation()}" style="font-size: 18px"></td>
            </tr>
            <tr th:class="'word'+
                    ${(writePracticeRequest.getRequestType() != T(com.phantom.japanese_dictionary_mvc.requests.RequestType).SPELLING) &&
                     (writePracticeRequest.getRequestType() != T(com.phantom.japanese_dictionary_mvc.requests.RequestType).DEFAULT)?
                     'hidden' : ''}" id = "Romadji">
                <td th:text="${note.getRomadji()}"  style="font-size: 18px"></td>
            </tr>
            </tbody>
            <hr>
        </table>
        <hr>
        <br>

    </div>
</div>
<div th:replace="allfooter::footer"></div>
</body>
</html>