<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Import grammar</title>
</head>
<body style="background: bisque">
<div th:replace="allheader::top_header"></div>
<div th:replace="allheader::grammar_subheader"></div>
<h1 style="text-align: center">Импорт данных в грамматический словарь. Делайте на свой страх и риск.</h1>
<div>
    <div style="width: 50%;  margin: 0 auto">
        <p> Допустимый формат файлов - xls. <br>
            Файл должен содержать четыре колонки - источник, структура правила, описание правила, пример. <br>
            Можете воспользоваться приложенной формой или сами сделать файл. <br>
            Чтение начинается со второй строки, но первая строка не должна быть пустой. <br>
            Допустимы только текстовые значения. Максимальный размер - 10 мегабайт</p>
        <form th:action="@{/grammar/import}" method="post" enctype="multipart/form-data">
            <input type="file" th:name="file" />
            <input th:type="submit" value="Import" />
        </form>
    </div>
</div>
<div th:replace="allfooter::footer"></div>
</body>
</html>