<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Grammar</title>
</head>
<body style="background: bisque">
<div th:replace="allheader::top_header"></div>
<div th:replace="allheader::grammar_subheader"></div>
<h1 style="text-align: center">Грамматический словарь</h1>
<div style="font-size: 18px">
    <div style="width: 50%;  margin: 0 auto">
    <p>Укажите часть грамматической конструкции, и мы постараемся подобрать аналог из нашей базы</p>

    <form th:method="GET" th:action="@{/grammar/show}" th:object="${request}">
        <label for="word">Введите слово или его часть </label>
        <input type="text" th:field = "*{word}" id = "word"/>
        <input type="submit" value="Поиск">
        <div style="color:red" th:if="${#fields.hasErrors('word')}" th:errors="*{word}"></div>
    </form>
        <br>
        <p style="padding-bottom: 6px">В качестве запроса используйте английскую транслитерацию. <br>
            <br>
            <b>Примеры запросов:</b> <br>
            to shite <br>
            bakari ka <br>
            totan <br>
        </p>

        <p>
            <b>Формат выдачи:</b><br>
            Структура конструкции<br>
            Значение и применение<br>
            Пример<br>
            Источник, где можно про нее почитать.
        </p>

    </div>
</div>
<div th:replace="allfooter::footer"></div>
</body>
</html>