<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Grammar</title>
</head>
<body style="background: bisque">
<div>
    <div style="width: 50%;  margin: 0 auto">
        <nav>
            <a th:href="@{/dictionary}" th:text="'Основной словарь'"></a> |
            <a th:href="@{/grammar}" th:text="'Грамматический словарь'"></a>
        </nav> <br>
        <nav>
            <a th:href="@{/grammar}" th:text="'Поиск по грамматике'"></a>
        </nav>
    </div>
</div>
<h1 style="text-align: center">Раздел грамматики</h1>
<div>
    <div style="width: 50%;  margin: 0 auto">
<p>Укажите часть грамматичкской конструкции, а мы постараемся подобрать аналог из нашей базы</p>
<p>Автоматическая настройка будет определять поле по следующему принципу:<br>
    Запрос на английском языке - поиск по правилу или примеру.<br>
    Запрос с использованием каны - поиск по правилу.<br>
Рекомендуется применять запрос с английской транслитерацией (как можно проще)</p>

<form th:method="GET" th:action="@{/grammar/show}" th:object="${request}">
    <label for="word">Введите слово или его часть </label>
    <input type="text" th:field = "*{word}" id = "word"/>
    <input type="submit" value="Поиск">
    <div style="color:red" th:if="${#fields.hasErrors('word')}" th:errors="*{word}"></div>
</form>
    </div>
</div>
</body>
</html>