<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Grammar</title>
</head>
<body style="background: bisque">
<div th:replace="allheader::top_header"></div>
<div th:replace="allheader::grammar_subheader"></div>
<h1 style="text-align: center">[[#{grammar.index.h1}]]</h1>
<div style="font-size: 18px">
    <div style="width: 50%;  margin: 0 auto">
    <p>[[#{grammar.index.welcome.message}]]</p>

    <form th:method="GET" th:action="@{/grammar/show}" th:object="${request}">
        <label for="word">[[#{grammar.index.word.label}]]</label>
        <input type="text" th:field = "*{word}" id = "word"/>
        <input type="submit" th:value="#{grammar.index.submit.value}">
        <div style="color:red" th:if="${#fields.hasErrors('word')}" th:errors="*{word}"></div>
    </form>
        <br>
        <p style="padding-bottom: 6px">[[#{grammar.index.comment.1}]]<br>
            <br>
            <b>[[#{grammar.index.comment.2}]]</b> <br>
            to shite <br>
            bakari ka <br>
            totan <br>
        </p>

        <p>
            <b>[[#{grammar.index.comment.3}]]</b><br>
            [[#{grammar.index.comment.4}]]<br>
            [[#{grammar.index.comment.5}]]<br>
            [[#{grammar.index.comment.6}]]<br>
            [[#{grammar.index.comment.7}]]
        </p>

    </div>
</div>
<div th:replace="allfooter::footer"></div>
</body>
</html>