<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Grammar show</title>
</head>
<body style="background: bisque">
<div th:replace="allheader::top_header"></div>
<div th:replace="allheader::grammar_subheader"></div>
<h1 style="text-align: center">[[#{grammar.multishow.h1}]]</h1>
<div>
    <div style="width: 50%;  margin: 0 auto">
        <p th:if="${grammarDictionaryReply.getMatchCount()==0}"
           th:text="#{grammar.multishow.notfound}"
           style="font-size: 18px;color: red" id = "absent"></p>
        <p th:if="${grammarDictionaryReply.getMatchCount()!=0}"
           th:text = "#{grammar.multishow.match} + ' ' + ${grammarDictionaryReply.getMatchCount()}"
           style="font-size: 18px; color: blue" id = "match"></p>
        <table th:each="grammarnote : ${grammarDictionaryReply.getGrammarNoteDTOS()}" id = "table">
            <tbody style="font-size: 18px">
            <tr>
                <td th:text="${grammarnote.getRule()}"></td>
            </tr>
            <tr>
                <td th:text="${grammarnote.getExplanation()}"
                style="color: green"></td>
            </tr>
            <tr>
                <td th:text="${grammarnote.getExample()}"></td>
            </tr>
            <tr>
                <td th:text="${grammarnote.getSource()}"></td>
            </tr>
            </tbody>
            <hr>
        </table>
        <hr>
        <div th:if="${grammarDictionaryReply.getIndexOfLastPage() > 0}" style="font-size: 18px">
            <ul style="padding-left: 0px">
                <li th:if="${currentPage > 0}" style="display: inline">
                    <a th:href="@{/grammar/show?page=0}" style="text-decoration: none">[[#{grammar.multishow.page.first}]]</a> |
                </li>
                <li th:if="${currentPage > 0}" style="display: inline">
                    <a th:href="@{/grammar/show?page={previousPage}(previousPage=${currentPage.intValue()-1})}"
                       style="text-decoration: none">[[#{grammar.multishow.page.previous}]]</a> |
                </li>
                <li th:if="${currentPage < grammarDictionaryReply.getIndexOfLastPage()}" style="display: inline">
                    <a th:href="@{/grammar/show?page={nextPage}(nextPage=${currentPage.intValue()+1})}"
                       style="text-decoration: none">[[#{grammar.multishow.page.next}]]</a> |
                </li>
                <li th:if="${currentPage < grammarDictionaryReply.getIndexOfLastPage()}" style="display: inline">
                    <a th:href="@{/grammar/show?page={lastPage}(lastPage=${grammarDictionaryReply.getIndexOfLastPage()})}"
                       style="text-decoration: none">[[#{grammar.multishow.page.last}]]</a>
                </li>
            </ul>
        </div>
     </div>
</div>
<div th:replace="allfooter::footer"></div>
</body>
</html>