<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body style="background: bisque">
<div th:replace="allheader::top_header"></div>
<h1 style="text-align: center">Приветствуем в хабе для изучающих японский язык</h1>
<div>
    <div style="width: 50%;  margin: 0 auto">
        <p style="font-size: 18px; padding-bottom: 6px; text-align: justify">Этот хаб - обобщение материалов, собранных и систематизированных в процессе изучения языка.<br>
        Сейчас в нем доступны следующие разделы: <br>
        <br>
        <b>Кастомный русско-японский словарь.</b> В процессе создания были проанализированы основные учебники
        для подготовки к экзамену 日本語能力試験, а также добавлены 15000 наиболее используемых слов. <br>
        <br>
        <b>Грамматический словарь.</b> Более 1000 записей с различными конструкциями. Словарь составлен на основе
        популярных учебников серий 新完全マスター, 日本語総まとめ, а также других источников. <br>
        <br>
        <b>Письменная практика.</b> Задания для самостоятельной письменной практики.<br>
        <br>
        <b>Квиз.</b> Задания с выбором вариантов, в которых можно проверить свои знания лексики.<br>
        </p>
    </div>
</div>
<div th:replace="allfooter::footer"></div>
</body>
</html>