<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body style="background: bisque">
<div th:replace="allheader::top_header"></div>
<h1 style="text-align: center">[[#{welcome.index.h1}]]</h1>
<div>
    <div style="width: 50%;  margin: 0 auto">
        <p style="font-size: 18px; padding-bottom: 6px; text-align: justify">[[#{welcome.index.comment.1}]]<br>
            [[#{welcome.index.comment.2}]]<br>
        <br>
        <b>[[#{welcome.index.comment.3}]]</b> [[#{welcome.index.comment.4}]]<br>
        <br>
        <b>[[#{welcome.index.comment.5}]]</b> [[#{welcome.index.comment.6}]] <br>
        <br>
        <b>[[#{welcome.index.comment.7}]]</b> [[#{welcome.index.comment.8}]]<br>
        <br>
        <b>[[#{welcome.index.comment.9}]]</b> [[#{welcome.index.comment.10}]]<br>
        </p>
    </div>
</div>
<div th:replace="allfooter::footer"></div>
</body>
</html>