<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
</head>
<body style="background: bisque">
<div th:replace="allheader::top_header"></div>
<div th:replace="allheader::quiz_subheader"></div>
<h1 style="text-align: center">[[#{quiz.index.h1}]]</h1>
<div>
    <div style="width: 50%;  margin: 0 auto; font-size: 18px">
        <p style="line-height: 1.5"> [[#{quiz.index.welcome.1}]]<br>
            [[#{quiz.index.welcome.2}]]<br>
            [[#{quiz.index.welcome.3}]]<br>
            [[#{quiz.index.welcome.4}]]</p>


        <form th:method="GET" th:action="@{/quiz/show}" th:object="${quizrequest}">
            <span>[[#{quiz.index.tasks.number}]]</span>
            <br>
            <input style="width: 150px" type="text" th:field = "*{numberOfTasks}" id = "numberOfTasks"/>
            <br>
            <span>[[#{quiz.index.options.number}]]</span>
            <br>
            <input style="width: 150px" type="text" th:field = "*{numberOfOptions}" id = "numberOfOptions"/>
            <br>
            <div style="color:red" th:if="${#fields.hasErrors('numberOfTasks')}" th:errors="*{numberOfTasks}"></div>
            <div style="color:red" th:if="${#fields.hasErrors('numberOfOptions')}" th:errors="*{numberOfOptions}"></div>
            <ul style="padding-left: 0px">
                <li style="display: inline" th:each="type : ${types}">
                    <input type="radio"  th:checked="${quizrequest.getRequestType()==type}"
                           th:id = "${type.getText().get(#locale.getLanguage())}" name="type"
                           th:field="*{requestType}" th:value="${type}"/>
                    <label th:for="${type.getText().get(#locale.getLanguage())}"
                           th:text="${type.getText().get(#locale.getLanguage())}"></label>
                </li>
            </ul>
            <input type="submit" th:value="#{quiz.index.submit.value}">
        </form>
    </div>
</div>
<div th:replace="allfooter::footer"></div>
</body>
</html>