<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
</head>
<body style="background: bisque">
<div th:replace="allheader::top_header"></div>
<div th:replace="allheader::quiz_subheader"></div>
<h1 style="text-align: center">Квиз</h1>
<div>
    <div style="width: 50%;  margin: 0 auto; font-size: 18px">
        <p style="line-height: 1.5"> В квизе вам предстоит по предложенному заданию выбрать один из правильных ответов.<br>
         Доступны два варианта квиза, выбрать которые можно, нажав соответствующую кнопку.<br>
        - "Иероглифы" : по записи на японском языке нужно определить перевод на русский. <br>
        - "Перевод" : по записи на русском языке нужно определить перевод на японский. </p>


        <form th:method="GET" th:action="@{/quiz/show}" th:object="${quizrequest}">
            <span>Введите количество заданий (не более 20)</span>
            <br>
            <input style="width: 150px" type="text" th:field = "*{numberOfTasks}" id = "numberOfTasks"/>
            <br>
            <span>Введите количество вариантов (от 2 до 10)</span>
            <br>
            <input style="width: 150px" type="text" th:field = "*{numberOfOptions}" id = "numberOfOptions"/>
            <br>
            <div style="color:red" th:if="${#fields.hasErrors('numberOfTasks')}" th:errors="*{numberOfTasks}"></div>
            <div style="color:red" th:if="${#fields.hasErrors('numberOfOptions')}" th:errors="*{numberOfOptions}"></div>
            <ul style="padding-left: 0px">
                <li style="display: inline" th:each="type : ${types}">
                    <input type="radio"  th:checked="${quizrequest.getRequestType()==type}" th:id = "${type.getText()}" name="type"
                           th:field="*{requestType}" th:value="${type}"/>
                    <label th:for="${type.getText()}" th:text="${type.getText()}"></label>
                </li>
            </ul>
            <input type="submit" value="Выбор">
        </form>
    </div>
</div>
<div th:replace="allfooter::footer"></div>
</body>
</html>