<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>

</head>
<body style="background: bisque">
<div th:replace="allheader::top_header"></div>
<div th:replace="allheader::quiz_subheader"></div>
<h1 style="text-align: center">Ваши задания</h1>

<div>
    <div style="width: 50%;  margin: 0 auto">
        <form th:method="GET" th:action="@{/quiz/check}" th:object="${answer_form}">
                    <ul style="padding-left: 0px">
                        <li th:each="task, itemStat : *{answers}">
                            <ul style="padding-left: 0px" id = "question">
                                <p th:text="${quiztasks.get(__${itemStat.index}__).getQuestion()}"
                                style="font-size: 20px"></p>
                                <li th:each="option : ${quiztasks.get(__${itemStat.index}__).getOptions()}">
                                    <input type="radio"
                                           th:field="*{answers[__${itemStat.index}__].answer}" th:value="${option}"
                                    th:id="${option}" />
                                    <label th:for="${option}" th:text="${option}" style="font-size: 18px"> </label>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <input type="submit" id="submitButton" th:value="Отослать">
        </form>
    </div>
</div>
<div th:replace="allfooter::footer"></div>
</body>
</html>