<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Statistics</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body style="background: bisque">
<div th:replace="allheader::top_header"></div>
<div th:replace="allheader::quiz_subheader"></div>
<h1 style="text-align: center">Ваша статистика</h1>
<div>
    <div style="width: 70%;  margin: 0 auto; font-size: 18px">
        <table>
            <thead></thead>
            <tbody>
            <tr>
                <th>Дата выполнения</th>
                <th>Количество верных ответов</th>
                <th>Количество заданий</th>
                <th>Задания, на которые дан неправильный ответ</th>
            </tr>
            <tr th:each="quizResult : ${quizResultList}" th:id="${quizResult.getQuizResultId()}">
                <td th:text="${quizResult.getDateOfQuiz()}"></td>
                <td th:text="${quizResult.getNumberOfRightAnswers()}" style="text-align: right"></td>
                <td th:text="${quizResult.getNumberOfTasks()}" style="text-align: right"></td>
                <td style="text-align: right">
                    <span th:each="failedTask : ${quizResult.getFailedQuizTasks()}" th:id = "${failedTask.getFailedQuizTaskId()}"
                    th:text="${failedTask.getFailedQuestion()} + '; '" ></span>
                </td>
            </tr>
            </tbody>
        </table>
        <br>
        <a th:href="@{/quiz/exportStatistics}" style="text-decoration: none; font-size: 18px">Выгрузка данных</a>
    </div>
</div>

<div th:replace="allfooter::footer"></div>
</body>
</html>