<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="top_header" class="">
    <div>
        <div style="width: 50%;  margin: 0 auto; font-size: 18px">
            <span>Навигация по разделам</span>
            <nav>
                <a th:href="@{/dictionary}" th:text="'Основной словарь'" style="text-decoration: none;"></a> |
                <a th:href="@{/grammar}" th:text="'Грамматический словарь'" style="text-decoration: none;"></a> |
                <a th:href="@{/write-test}" th:text="'Письменная практика'" style="text-decoration: none;"></a> |
                <a th:href="@{/quiz}" th:text="'Квиз'" style="text-decoration: none;"></a>
            </nav> <br>
            <span>Действия пользователя</span>
            <nav>
                <a th:href="@{/logout}" th:text="'Выход'" style="text-decoration: none;"></a>
            </nav> <br>
        </div>
    </div>
</div>

<div th:fragment="grammar_subheader" class="">
    <div>
        <div style="width: 50%;  margin: 0 auto">
            <nav>
                <a th:href="@{/grammar}" th:text="'Поиск по грамматике'" style="text-decoration: none; font-size: 18px"></a>
            </nav>
        </div>
    </div>
</div>

<div th:fragment="dictionary_subheader" class="">
    <div>
        <div style="width: 50%;  margin: 0 auto">
            <nav>
                <a th:href="@{/dictionary}" th:text="'Поиск по словарю'" style="text-decoration: none; font-size: 18px"></a>
            </nav>
        </div>
    </div>
</div>

<div th:fragment="writepractice_subheader" class="">
    <div>
        <div style="width: 50%;  margin: 0 auto">
            <nav>
                <a th:href="@{/write-test}" th:text="'Выбор параметров письменной практики'" style="text-decoration: none; font-size: 18px"></a>
            </nav>
        </div>
    </div>
</div>

<div th:fragment="quiz_subheader" class="">
    <div>
        <div style="width: 50%;  margin: 0 auto">
            <nav>
                <a th:href="@{/quiz}" th:text="'Старт квиза'" style="text-decoration: none; font-size: 18px"></a> |
                <a th:href="@{/quiz/showStatistics}" th:text="'Статистика'" style="text-decoration: none; font-size: 18px"></a>
            </nav>
        </div>
    </div>
</div>

</body>
</html>