<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="top_header" class="">
    <div>
        <div style="width: 50%;  margin: 0 auto; font-size: 18px">
            <span>[[#{allheader.navi.title}]]</span>
            <nav>
                <a th:href="@{/dictionary}" th:text="#{allheader.navi.dictionary}" style="text-decoration: none;"></a> |
                <a th:href="@{/grammar}" th:text="#{allheader.navi.grammar}" style="text-decoration: none;"></a> |
                <a th:href="@{/write-test}" th:text="#{allheader.navi.writepractice}" style="text-decoration: none;"></a> |
                <a th:href="@{/quiz}" th:text="#{allheader.navi.quiz}" style="text-decoration: none;"></a>
            </nav> <br>
            <span>[[#{allheader.navi.user.action}]]</span>
            <nav>
                <a th:href="@{/logout}" th:text="#{allheader.navi.user.action.logout}" style="text-decoration: none;"></a>
            </nav> <br>
        </div>
    </div>
</div>

<div th:fragment="grammar_subheader" class="">
    <div>
        <div style="width: 50%;  margin: 0 auto">
            <nav>
                <a th:href="@{/grammar}" th:text="#{allheader.navi.grammar.search}" style="text-decoration: none; font-size: 18px"></a>
            </nav>
        </div>
    </div>
</div>

<div th:fragment="dictionary_subheader" class="">
    <div>
        <div style="width: 50%;  margin: 0 auto">
            <nav>
                <a th:href="@{/dictionary}" th:text="#{allheader.navi.dictionary.search}" style="text-decoration: none; font-size: 18px"></a>
            </nav>
        </div>
    </div>
</div>

<div th:fragment="writepractice_subheader" class="">
    <div>
        <div style="width: 50%;  margin: 0 auto">
            <nav>
                <a th:href="@{/write-test}" th:text="#{allheader.navi.writepractice.search}" style="text-decoration: none; font-size: 18px"></a>
            </nav>
        </div>
    </div>
</div>

<div th:fragment="quiz_subheader" class="">
    <div>
        <div style="width: 50%;  margin: 0 auto">
            <nav>
                <a th:href="@{/quiz}" th:text="#{allheader.navi.quiz.search}" style="text-decoration: none; font-size: 18px"></a> |
                <a th:href="@{/quiz/showStatistics}" th:text="#{allheader.navi.quiz.statistics}" style="text-decoration: none; font-size: 18px"></a>
            </nav>
        </div>
    </div>
</div>

</body>
</html>