<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Multi dictionary result</title>
</head>
<body style="background: bisque">
<div th:replace="allheader::top_header"></div>
<div th:replace="allheader::dictionary_subheader"></div>
<h1 style="text-align: center">[[#{dictionaries.multishow.h1}]]</h1>
<div>
    <div style="width: 50%;  margin: 0 auto">
        <p th:if="${dictionaryReply.getFullMatchCount()==0 && dictionaryReply.getPartialMatchCount()==0}"
           th:text="#{dictionaries.multishow.notfound}"
            style="font-size: 18px; color: red" id = "absent"></p>
        <p th:if="${dictionaryReply.getFullMatchCount()>0}"
           th:text = "#{dictionaries.multishow.fullmatch} + ' ' + ${dictionaryReply.getFullMatchCount()}"
           style="font-size: 18px; color: blue" id = "fullPresent"><br></p>
        <p th:if="${dictionaryReply.getPartialMatchCount()>0}"
           th:text = "#{dictionaries.multishow.partmatch} + ' ' + ${dictionaryReply.getPartialMatchCount()}"
           style="font-size: 18px; color: blue" id = "partialPresent"></p>
        <table th:each="note : ${dictionaryReply.getNoteDTOS()}" id = "fullTable">
            <tbody >
            <tr>
                <td th:text="${note.getKanji()}" style="font-size: 22px"></td>
            </tr>
            <tr>
                <td th:text="${note.getHiragana()}" style="color: green; font-size: 20px"></td>
            </tr>
            <tr>
                <td th:text="${note.getTranslation()}" style="font-size: 18px"></td>
            </tr>
            <tr>
                <td th:text="${note.getRomadji()}" style="font-size: 18px"></td>
            </tr>
            </tbody>
            <hr>
        </table>
        <hr>
        <div th:if="${dictionaryReply.getIndexOfLastPage() > 0}" style="font-size: 18px">
            <ul style="padding-left: 0px">
                <li th:if="${currentPage > 0}" style="display: inline">
                    <a th:href="@{/dictionary/show?page=0}" style="text-decoration: none">[[#{dictionaries.multishow.page.first}]]</a> |
                </li>
                <li th:if="${currentPage > 0}" style="display: inline">
                    <a th:href="@{/dictionary/show?page={previousPage}(previousPage=${currentPage.intValue()-1})}"
                       style="text-decoration: none">[[#{dictionaries.multishow.page.previous}]]</a> |
                </li>
                <li th:if="${currentPage < dictionaryReply.getIndexOfLastPage()}" style="display: inline">
                    <a th:href="@{/dictionary/show?page={nextPage}(nextPage=${currentPage.intValue()+1})}"
                       style="text-decoration: none">[[#{dictionaries.multishow.page.next}]]</a> |
                </li>
                <li th:if="${currentPage < dictionaryReply.getIndexOfLastPage()}" style="display: inline">
                    <a th:href="@{/dictionary/show?page={lastPage}(lastPage=${dictionaryReply.getIndexOfLastPage()})}"
                       style="text-decoration: none">[[#{dictionaries.multishow.page.last}]]</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div th:replace="allfooter::footer"></div>
</body>
</html>