<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Multi dictionary result</title>
</head>
<body style="background: bisque">
<div th:replace="allheader::top_header"></div>
<div th:replace="allheader::dictionary_subheader"></div>
<h1 style="text-align: center">Результат поиска</h1>
<div>
    <div style="width: 50%;  margin: 0 auto">
<p th:if="${fullMatchNotes.isEmpty() && partialMatchNotes.isEmpty()}"
   th:text="'В моей базе ничего не нашлось. Попробуйте другой запрос или фильтр.'"
    style="font-size: 18px; color: red" ></p>
<p th:if="${!fullMatchNotes.isEmpty()}"
   th:text = "'Число полных совпадений в моей базе - ' + ${fullMatchNotes.size()}"
   style="font-size: 18px; color: blue"></p>
<table th:each="note : ${fullMatchNotes}" >
    <tbody >
    <tr>
        <td th:text="${note.getKanji()}"></td>
    </tr>
    <tr>
        <td th:text="${note.getHiragana()}" style="color: green"></td>
    </tr>
    <tr>
        <td th:text="${note.getTranslation()}"></td>
    </tr>
    <tr>
        <td th:text="${note.getRomadji()}"></td>
    </tr>
    </tbody>
    <hr>
</table>
<hr>
<br>
<p th:if="${!partialMatchNotes.isEmpty()}"
   th:text = "'Число частичных совпадений в моей базе - ' + ${partialMatchNotes.size()}"
   style="font-size: 18px; color: blue"></p>

<table th:each="note : ${partialMatchNotes}" >
    <tbody >
    <tr>
        <td th:text="${note.getKanji()}"></td>
    </tr>
    <tr>
        <td th:text="${note.getHiragana()}" style="color: green"></td>
    </tr>
    <tr>
        <td th:text="${note.getTranslation()}"></td>
    </tr>
    <tr>
        <td th:text="${note.getRomadji()}"></td>
    </tr>
    </tbody>
    <hr>
</table>
</div>
</div>
<div th:replace="allfooter::footer"></div>
</body>
</html>