<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Multi dictionary result</title>
</head>
<body style="background: bisque">
<div th:replace="allheader::top_header"></div>
<div th:replace="allheader::dictionary_subheader"></div>
<h1 style="text-align: center">Результат поиска</h1>
<div>
    <div style="width: 50%;  margin: 0 auto">
        <p th:if="${dictionaryReply.getFullMatchCount()==0 && dictionaryReply.getPartialMatchCount()==0}"
           th:text="'В моей базе ничего не нашлось. Попробуйте другой запрос или фильтр.'"
            style="font-size: 18px; color: red" id = "absent"></p>
        <p th:if="${dictionaryReply.getFullMatchCount()>0}"
           th:text = "'Число полных совпадений в моей базе - ' + ${dictionaryReply.getFullMatchCount()}"
           style="font-size: 18px; color: blue" id = "fullPresent"><br></p>
        <p th:if="${dictionaryReply.getPartialMatchCount()>0}"
           th:text = "'Число частичных совпадений в моей базе - ' + ${dictionaryReply.getPartialMatchCount()}"
           style="font-size: 18px; color: blue" id = "partialPresent"></p>
        <table th:each="note : ${dictionaryReply.getNoteDTOS()}" id = "fullTable">
            <tbody >
            <tr>
                <td th:text="${note.getKanji()}" style="font-size: 22px"></td>
            </tr>
            <tr>
                <td th:text="${note.getHiragana()}" style="color: green; font-size: 20px"></td>
            </tr>
            <tr>
                <td th:text="${note.getTranslation()}" style="font-size: 18px"></td>
            </tr>
            <tr>
                <td th:text="${note.getRomadji()}" style="font-size: 18px"></td>
            </tr>
            </tbody>
            <hr>
        </table>
        <hr>
        <br>
    </div>
</div>
<div th:replace="allfooter::footer"></div>
</body>
</html>